// styles/global.scss

html {
    font-size: var(--base-font-size);
}

body {
    min-height: 100vh;
    font-family: var(--font-family-main);
    font-size: var(--font-size-m);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}
