.button {
    cursor: pointer;
}

.clear {
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    border: none;
}

.outline {
    padding: 10px 15px;
    color: var(--color-primary);

    // color: red;
    background: none;
    border: 1px solid var(--color-primary);
}
