// Sidebar.module.scss

.sidebar {
    position: relative;
    flex-grow: 1;
    width: var(--sidebar-width);
    background: var(--color-surface);
    border-radius: 0 10px 10px 0;
    transition: width 0.3s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
