// light.scss
// селектор .app.light создаёт (определяет) переменные и их значения. например  .app.dark будет создавать переменные с такими же именами но
// с другими значениями то есть если мы передаём csassName="app dark" у этих перемнных будут одни значения при calssName="app light" другие
// в случае  calssName="app" значения этих переменных вообще будут пустыми, поскольу в таком случае они даже не будут существовать. Вообще значения этих переменных считыватюся с селкторе .app
// например:
// .app {
//     background-color: var(--bg-color);
//     color: var(--primary-color);
//     min-height: 100vh;
// }
// в строке color: var(--primary-color) мы получаем значение перемнной --primary-color с помощью ключевого слова var
// Только если элемент имеет класс app dark

.app.light {
    --bg-color: #e8e8ea;

    --primary-color: #041c65;
    --secondary-color: #0449e0;
}
