/* Базовые переменные (для всех тем) */

// Создаём глобальные переменные. Переменные созданные в :root не требуют отдельного использования :root как например селектора .app.dark что бы перменные были
// созданы. Переменные определённые в :root будут созданы в любом случе и доступны в любом компоненте, в любом элементе, в любом вложенном селекторе, в любых модулях стилей.
:root {
    --font-family-main: 'Consolas', 'Times New Roman', serif;

    --font-size-s: 0.75rem;
    --font-size-m: 1rem;
    --font-size-l: 1.5rem;
}

// Файл описывает CSS-переменные (--color-primary, --font-size-m).
// Эти переменные остаются в финальном CSS и доступны в браузере.
// Используются для:
// динамического изменения тем
// быстрого переключения тем без пересборки проекта
// гибкой настройки цветов, шрифтов, отступов на клиенте
