// styles/variables.scss
@use 'sass:math'; // обязательно подключить модуль math!

$base-font-size: 16px;

// Шрифты
$font-family-main: 'Consolas', 'Times New Roman', serif;

// Функция для перевода px → rem
// будет помогать нам удобно получать rem значения например нам нужен padding: 24px и вместо того что бы padding 1.5rem где будем высчитывать значение в rem в голове мы напишем padding: rem(24) то есть мы передаём желаемое значение а эта функция пересчитает нам его в rem

@function rem($px) {
    @return math.div($px, $base-font-size) * 1rem;
}

// Размеры шрифтов
$font-size-s: rem(12);
$font-size-m: rem(16);
$font-size-l: rem(24);

// Высоты строк
$line-height-s: 1.4;
$line-height-m: 1.5;
$line-height-l: 1.6;

// Файл содержит SCSS-переменные и SCSS-функции (например, rem()).
// Эти переменные видны только на этапе сборки (браузер про них не знает!)
// Они нужны для:
// - расчётов
// - удобства при верстке
// - адаптивности
// - создания миксинов, функций и т.д.
// Переменные с $ никак не попадают в итоговый CSS. Они только во время сборки SCSS → CSS используются.
