// light.scss
// селектор .app.light создаёт (определяет) переменные и их значения. например  .app.dark будет создавать переменные с такими же именами но
// с другими значениями то есть если мы передаём csassName="app dark" у этих перемнных будут одни значения при calssName="app light" другие
// в случае  calssName="app" значения этих переменных вообще будут пустыми, поскольу в таком случае они даже не будут существовать. Вообще значения этих переменных считыватюся с селкторе .app
// например:
// .app {
//     background-color: var(--bg-color);
//     color: var(--primary-color);
//     min-height: 100vh;
// }
// в строке color: var(--primary-color) мы получаем значение перемнной --primary-color с помощью ключевого слова var
// Только если элемент имеет класс app dark

// .app.light {
//     --bg-color: #e8e8ea;
//     --inverted-bg-color: #090949;

//     --primary-color: #0232c2;
//     --secondary-color: #0449e0;
//     --inverted-primary-color: #049604;
//     --inverted-secondary-color: #04ff04;
// }

// .app.light {
//     // --bg-color: #00838f;
//     // --inverted-bg-color: #cfd8dc;

//     --primary-color: #00838f;
//     --secondary-color: #fafafa;
//     --inverted-primary-color: #cfd8dc;
//     --inverted-secondary-color: #37474f;

//     --extra-color: #26a69a;
// }

.app.light {
    --color-bg: #cfd8dc; // основной фон
    --color-surface: #fafafa; // карты, панели, блоки
    --color-text: #37474f; // обычный текст
    --color-text-invert: #fafafa; // текст на тёмном фоне
    --color-primary: #26a69a; // основной акцент (кнопки, ссылки)
    --color-primary-dark: #00838f; // hover/active
    --color-error: #e53935;
    --color-warning: #ffa000;
    --color-success: #66bb6a;
    --color-secondary: #ff7043; // вторичный акцент
}
