// Counter.module.scss
.btn {
    color: green;
}

.color {
    background-color: red;
}

.blablaclass {
    border: 3px solid red;
}

.some {
    color: green;
}

.asd {
    color: blue;
}

.aaa {
    color: orange;
}

.blue {
    color: blueviolet;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.green {
    color: greenyellow;
}
