.btn {
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 20px;
    color: var(--color-text);
    background-color: var(--color-primary);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.btn2 {
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 20px;
    color: var(--color-text-invert);
    background-color: var(--color-primary);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.btn3 {
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 20px;
    color: var(--inverted-secondary-color);
    background-color: var(--color-primary-dark);
    border: 2px solid var(--extra-color);
    border-radius: 10px;
}

.btn4 {
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 20px;
    color: var(--inverted-secondary-color);
    background-color: var(--color-secondary);
    border: 2px solid var(--extra-color);
    border-radius: 10px;
}

.btn5 {
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 20px;
    color: var(--primary-color);
    background-color: var(--color-success);
    border: 2px solid var(--extra-color);
    border-radius: 10px;
}
